# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist/
build/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# Next.js build output
.next/

# Nuxt.js build output
.nuxt/

# SvelteKit build output
.svelte-kit/

# Temporary files
tmp/
temp/

# IDE and editor specific files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# ADMIN_KEY=admin
# JWT_EXPIRES_IN=24h
# JWT_SECRET=niteshkushwaha
# # MONGO_URI=mongodb+srv://nitesh_dk:rakesh114@nitesh.zownidz.mongodb.net/?retryWrites=true&w=majority&appName=NItesh
# MONGO_URI=mongodb://localhost:27017
# PORT=3000
# RAZORPAY_KEY_ID=rzp_test_YaU552VxGMnvhU
# RAZORPAY_SECRET=4AL5mEvdAaq0IyYlrgYHWPMk